<% flash.each do |name, msg|%>
  <div class="alert alert-warning alert dismissible">
    <button class="close" data-dimiss="alert">
      <i class="glyphicon glyiphicon-remove-circle"></i>
    </button>
    <%= content_tag(:div, msg)%>
  </div>
  <%end%>